# Auto detect text files and perform LF normalization
dataset/
Pruebas/IGTD
Experimentos/IGTD
Pruebas/Resultados
Experimentos/Resultados
__pycache__

# Earth Engine
**/.config/earthengine/credentials
earthengine_private_key.json