# Auto detect text files and perform LF normalization
dataset/
Pruebas/IGTD
Experimentos/IGTD
Experimentos_adicionVariablesTopograficas/IGTD
Pruebas/Resultados
Experimentos/Resultados
__pycache__
GEE_API
Experimentos_GEE

# Earth Engine
**/.config/earthengine/credentials
earthengine_private_key.json